/* Basis styles */

html {
    color: #222;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    background-color: #c7c7c7;
}

body,
img {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    width: 47vw;
    /* for tavlenoterne*/
    /* for tavlenoterne*/
}

/* YouTube */

#youtube {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

#youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Navigation */

nav ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
}

nav ul li {
    position: relative;
    padding-right: 2em;
}

.dropdown > ul {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    padding: 1em;
}

.dropdown > ul li {
    white-space: nowrap;
    padding: 0 2em;
}

.dropdown:hover > ul {
    display: block;
}
